.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    position: absolute;
    z-index: 999;
  }

.navbar{
    font-family: sans-serif;
}
/* nav icon */
.navbar-brand p{
    font-weight: 800; 
}

/* nav anchors */
.home{
    color: gray;
    margin-right: 2px;
}
.hov{
    color: black;
}
.hov:hover{
    color: gray;
}

/* nav qoute */
.navbar-qoute{
    color: black;
    display: flex;
    justify-content: space-evenly;
}
.navbar-qoute:hover{
    flex-direction: row-reverse;
}


/* title section */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
}

.title{
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    line-height: 0.9;
    background-image: url('https://craftohtml.themezaa.com/images/demo-design-agency-02.png');
    background-size: 300px 200px;
    background-repeat: no-repeat;
    background-position: left;
}

.b {
    color: grey;
}
.a{
    color: rgb(253, 136, 94);
}

/* 2nd heading */
.create{
    font-style: normal;
    color: rgb(253, 136, 94);
    padding-right: 1%;
    display: inline-block;
    overflow: hidden;
    position: relative;
   
}




/* cards section */
.img{
    height: 90px;
    max-width: 60px;
    background-color: rgba(253, 136, 94, 0.616);
    color: gray;
    transition: transform 1s, background-color 1s;
} 
.card-hov:hover .img{
    transform: scale(1.2);
    background-color: black;
    color: gainsboro;
}

/* black tile */
.black-tile{
   font-size: 88px;
   font-family: "Bebas Neue", sans-serif;
   position: relative;
   overflow: hidden;
   transition: color 0.5s, transform 0.5s;
}
.black-tile:hover {
    color:  rgb(253, 136, 94);
    transform: translateY(10%);
}

/* expert section */
.expert{
   font-family: "Bebas Neue", sans-serif;
   
}
.expert-t1{
  font-size: 60px;
  text-align: center;
}
.expert-t2{
    font-size: 50px;
}

.expert-h{
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  color: rgb(253, 136, 94);
  z-index: 1;
}
.expert-row{
    background-image: url("https://craftohtml.themezaa.com/images/demo-design-agency-02.png");
   background-repeat: no-repeat;
   background-size: 250px 180px;
   z-index: 999;
   background-position-x: 55%;
}
.expert-sec{
    color: grey;
}
.expert-sec h2{
    color: black;
}

/* FACTS SECTION */
.fact{
  font-size: 88px;
}

.fact-h1{
    padding-left: 3%;
    color: grey;
    padding-top: 5%;
    line-height: 1;
}
.fact-h2{
    padding-left: 13%;
    color:rgb(253, 136, 94) ;
    line-height: 0.9;
}
.btn{
   background-color:rgb(253, 136, 94);
   color: rgba(0, 0, 0, 0.687);
}
.fact-box p{
    margin-top: 30%;
    font-size: 30px;
    font-weight: 500;
    overflow-x: hidden;
}
.fact-row{
    position: relative;
    overflow-x: hidden;
} 
.fact-end{
    color: rgb(253, 136, 94);
    font-size: 100px;
    font-weight: 700;
    text-align: end; 
    overflow: hidden;
    position: relative;
    right: -13%;
    bottom: 0;
}
.fact::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%; 
    height: 50px;
    background-color: rgb(253, 136, 94); 
    overflow: hidden;
} 

/* AGENCY PAGE STYLE SHEET STARTS HERE*/
.hero-head {
    font-family: "Bebas Neue", sans-serif;
    padding-right: 15%;
}

.hero-text{
    padding-left: 5%;
}
#trusted{
    color:lightgrey;
    margin-right: 2%;
}
#agency{
    color:  rgb(253, 136, 94);

}
     
/* fact box */
#agency-fact-box{
    font-size: 20px;
    font-weight: 400;
    
}
#agency-fact-box p{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 25%;
}

/* talent section */
.talent-head{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}
.talent-p{
   color:gray;
   font-size: 16px;
}
.talent-pic{
   transition: transform 0.5s;
}
.talent-icon {
   height: 150px;
   width: 150px;
   transition: transform 0.5s;
}
.talent-icon:hover, .talent-pic:hover{
    transform: scale(1.2);
}
.talent-row{
    position: relative;
    overflow-x: hidden;
} 
.talent-end{
    color: rgb(253, 136, 94);
    font-size: 100px;
    font-weight: 700;
    text-align: end; 
    overflow: hidden;
    position: relative;
    right: -13%;
    bottom: 0;
}
.talent-row::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%; 
    height: 50px;
    background-color: rgb(253, 136, 94); 
    overflow: hidden;
} 

/* contact PAGE STYLE SHEET STARTS HERE*/
#para{
    line-height: 0.1;
}
.span-u{
    border-bottom: 2px solid black; 
    padding-bottom: 3px; 
}

/* orange links section */
.orange{
    background-color:  rgb(253, 136, 94);
}
.ornge-img{
  width: 100%;
  height: 100%;
  
}

.input{
    background-color: inherit;
    border: none;
    padding-bottom: 3%;
    padding-top: 3%;
}
.con{
    position:relative;
    z-index: 1;
    background-color: inherit;
}

/* footer section */
.footer-container{
    overflow-x: hidden;
}
footer{
     background-color: rgb(253, 136, 94);
    width: 100%;
    position:fixed;
    bottom: 0;
    z-index: 0;
    overflow: hidden; 
}
.spacer {
    height: 390px; 
    width: 100%;
    overflow: hidden;
  }
.foot-head{
    font-size: 85px;
    font-weight: 700;
}

/* all media queries */
@media (max-width:576px)  {
    .title{
        font-size: 80px; 
        background-size: 100px 60px;
    }
    .create{
        font-size: 130px; 
        font-weight: 300;
    }
    #head-1{
        font-size: 70px; 
        font-weight: 300; 
    }
    .hero-text{
        font-size: 40px;
        font-weight: 500; 
        line-height: 1.1;
    }
    #head-2{
        font-size: 65px;
        line-height:1.3 ;
        margin-top: 15%;
    }
}


@media (min-width:576px)  {
    .title{
        font-size: 110px; 
        background-size: 150px 100px;
    }
    .create{
        font-size: 165px; 
    }
    .expert-t1{
        font-size: 70px;
        line-height: 1; 
    }
    .expert-h{
        font-size: 165px; 
        font-weight: 500;
    }
    .fact{
        font-size: 125px; 
    }
    #head-1{
        font-size: 70px; 
        font-weight: 300; 
    }
    .hero-text{
        font-size: 40px;
        font-weight: 500; 
        line-height: 1.1;
    }
    #head-2{
        font-size: 100px;
        line-height: 2;
        padding-left: 0px;
    }
}


@media (min-width:768px)  {
    .title{
        font-size: 128px; 
        background-size: 200px 130px;
    }
    .create{
        font-size: 198px; 
    }
    .black-tile{
        font-size: 110px; 
    }
    .expert-t1{
        font-size: 80px;
    }
    .expert-h{
        font-size: 185px; 
    }
     .expert-h{
        font-size: 195px; 
    }
    .fact{
        font-size: 150px; 
    }
    #head-1{
        font-size: 87px; 
    }
    .hero-text{
        font-size: 50px;
        font-weight: 600;
    }
    #head-2{
        font-size: 130px;
    }
    .talent-head{
        font-size: 35px;
    }
    .talent-p{
       color:gray;
       font-size: 20px;
    }
}


@media (min-width:992px)  {
    .title{
        font-size: 150px; 
    }
    .create{
        font-size: 220px; 
    }
    .create p{
        clip-path: inset(0 0 0 20%);
        transform: translateX(-20%); 
        white-space: nowrap; 
    }
    .black-tile{
        font-size: 135px; 
    }
    .expert-t1{
        font-size: 90px;
    }
    .expert-h{
        font-size: 195px; 
    }
    .fact{
        font-size: 175px; 
    }
    .hero-text{
        font-size: 60px;
        font-weight: 600;
    }
    #head-2{
        font-size: 175px;
        margin-top: 10%;
    }
    .talent-head{
        font-size: 40px;
    }
    .talent-p{
       color:gray;
       font-size: 25px;
    }
    .foot-head{
        font-size: 70px;
        font-weight: 700;
    } 
}


@media (min-width:1200px)  {
    .title{
        font-size: 200px; 
    }
    .create{
        font-size: 268px; 
    }
    .expert-h{
        font-size: 210px; 
    }
    .fact{
        font-size: 185px; 
    }
}